body {
  font-family: "Poltawski Nowy", serif;
}
.text-decoration {
  text-decoration: none;
}

.text-bold {
  font-weight: bold;
}

footer {
  background-image: linear-gradient(to bottom right, yellow, rgb(56, 189, 56));
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
}
.culdron {
  width: 100px;
  height: 100px;
  position: relative;
  left: 10px;
  animation: smoke 4s ease-out;
}
