.prod-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 2rem;

  padding: 1rem;
  color: white;
  height: 100%;
  margin: 10px;
}

.prod-img {
  width: 250px;
  height: 250px;
}

.magic-effects {
  text-align: center;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
}
.prod-btn {
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid;
  background: transparent;
  background-color: purple;
  border-radius: 0.2rem;
}

.review {
  font-style: italic;
}
.menu-title {
  height: auto;
  margin: 10px;
}
.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-nutrition {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-description {
  font-size: 30px;
}

.review-area {
  margin: 10px 0px;
}

.review-container {
  display: flex;
  flex-direction: column;
  border: 5px solid;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}
.review-user {
  display: flex;
  align-items: center;
  gap: 10px;
}
